* {
    margin:0;
    padding: 0;
}

.content, .sidebar, .toDo, .header, .form, .formTop, .toDoContainer, .formBottom, .title, .dueDate, .priority {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
    width: 100vw;
    position: fixed;

}


.sidebar {
    height:100vh;
    width: 13vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

/* To do stuff*/
.content {
   display: flex;
   flex-direction: column;
   
   align-items: center;
   min-height: 100vh;
   margin-top: 10vh;
   margin-left: 13vw;

}

.toDoContainer {
    display: flex;
    flex-direction: column;
    gap: 400px;
    width: 60%;
    margin-top: 20vh;
    flex: 1;
}
.toDo {
    
    height:60px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/* Form stuff */
.form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50vw;
}

.backgroundFade {
    display: flex;
    justify-content:center;
    align-items: center;
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:rgba(0,0,0,0.6);
}

.formTop {
    display: flex;
    flex-grow: 1;
    gap:8px;
}

.title {
    flex:6;
}

.priority {
    flex: 1;
}

.dueDate {
    flex: 2;
}

.formBottom {
    display: flex;
    flex-direction: column;
    flex-grow: 12;
    gap:8px;
}

.description {
    flex: 6;
}


.submit {
    height: 20px;
    width: 100px;
    flex: 1;
    align-self: flex-end;
}

.addToDo {
    position: fixed;
    height: 60px;
    width: 60px;
    left:92vw;
    top:92vh;
    
}