* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.content, .sidebar, .toDo, .header, .form, .formTop, .toDoContainer, .formBottom, .title, .dueDate, .priority {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    padding: 30px;
    font-size: 3em;
    display: flex;
    align-items: center;
    cursor: default;

}

/* Sidebar stuff */
.sidebar {
    height:100vh;
    width: 13vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding: 30px 15px;
    gap: 100px;
}

/*Time filtering stuff*/
.timeFilter {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.filterHeading {
    cursor: default;
}

.time {
    cursor: default;
    font-size: 1.08em;
    padding-left: 3px;
    flex-basis: 0;
}

.time:hover {
    background-color: lightgrey;
}

.filteredToDo {
    display: flex;
    border: 1px solid black; 
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    align-items: center;

}

.filterHeading, .projectHeading {
    font-size: 1.7em;
}

/*Projects stuff*/
.projectTab {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.projectHeading {
    cursor: default;
}

.createNewProject {
    width: 30px;
    background-color: white;
    font-size: 1.5em;
    border: 0;
}

.createNewProject:hover {
    background-color: lightgrey;
}

/*Input bar that pops up after clicking createNewProject button*/
.inputDiv {
    display: flex;
    gap: 10px;
}

.projectNameInput {
    width: 80%;
}

.Default {
    flex-basis: 0; 
}

.Default:hover {
   background-color: lightgrey;
}

/*Wraps project name and remove project button together*/
.projectWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.project {
   cursor: default;
   padding-left: 3px;
   font-size: 1.08em;
   color: rgb(61, 61, 61);
}

.currentProject {
    color: black;
    background-color: rgb(230, 230, 230);
}

/*Hovering over project wrapper shows the remove button which is otherwise hidden*/
.projectWrapper:hover .removeProject {
    display: inline;
}

.projectWrapper:hover {
    color: black;
    background-color: lightgrey;
    
}



.removeProject {
    background-color: lightgrey;
    border: 0;
    width: 30px;
    cursor: pointer;
    display: none;
    font-weight: bold;
    cursor: default;
}

.removeProject:hover {
    background-color: lightgrey;
}

/* To do stuff*/
.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   margin-top: 10vh;
   margin-left: 13vw;

}

.toDoContainer {
    display: flex;
    flex-direction: column;
    gap: 400px;
    width: 60%;
    margin-top: 20vh;
    flex: 1;
}
.toDo {
    
    height:60px;
    display: flex;
    gap: 25px;
    padding: 8px 20px;
    
}

.toDoTitle {
    width: 300px;
}

.toDoTitle:hover {
    background-color: lightgrey;
}

.toDoPriority {
    width: 150px;
}

.high {
    border-left: 10px solid red;
}

.medium {
    border-left: 10px solid yellow;
}

.low {
    border-left: 10px solid green;
}

.deleteToDo {
    background-color: white;
    border: 0;
    font-size: 1em;
}

.deleteToDo:hover {
    background-color: lightgrey;
}

.toDoTitle, .toDoDueDate, .toDoPriority, .toDoOptions {
    cursor: default;
    border-left: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.toDoDesc {
    padding: 20px;
    border: 1px solid black;
}


/* Form stuff */
.form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50vw;
    background-color: white;
}

.backgroundFade {
    display: flex;
    justify-content:center;
    align-items: center;
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:rgba(0,0,0,0.6);
}

.formTop {
    display: flex;
    flex-grow: 1;
    gap:10px;
    padding: 10px;
}

.title {
    flex:6;
}

.priority {
    flex: 1;
}

.dueDate {
    flex: 2;
}

.formBottom {
    display: flex;
    flex-direction: column;
    flex-grow: 12;
    gap:10px;
    padding: 10px;
}

.description {
    flex: 6;
}


.submit {
    height: 20px;
    width: 100px;
    flex: 1;
    align-self: center;
}

.cancelForm:hover {
    background-color: lightgrey;
}

.addToDo {
    position: fixed;
    height: 60px;
    width: 60px;
    left:92vw;
    top:88vh;
    border-radius: 50%;
    background-color: rgb(52, 162, 230);
    border: 1px solid rgb(52, 162, 230);
    color: white;
    font-size: 2.6em;
}

.addToDo:hover {
    background-color: rgb(94, 176, 228);
}

