* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.content, .sidebar, .toDo, .header, .form, .formTop, .toDoContainer, .formBottom, .title, .dueDate, .priority {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 10vh;
    width: 100vw;
    position: fixed;
    padding: 30px;
    font-size: 3em;
    display: flex;
    align-items: center;

}

/* Sidebar stuff */
.sidebar {
    height:100vh;
    width: 13vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding: 30px 15px;
    gap: 100px;
}

/*Time filtering stuff*/
.timeFilter {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.time {
    cursor: pointer;
    font-size: 1.08em;
    padding-left: 3px;
}

.filterHeading, .projectHeading {
    font-size: 1.7em;
}

/*Projects stuff*/
.projectTab {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.createNewProject {
    width: 30px;
    background-color: white;
    font-size: 1.5em;
    border: 0;
    cursor: pointer;
}

/*Input bar that pops up after clicking createNewProject button*/
.inputDiv {
    display: flex;
    gap: 10px;
}

.projectNameInput {
    width: 80%;
}

.default {
    flex-basis: 0; 
}

/*Wraps project name and remove project button together*/
.projectWrapper {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}


.project {
   cursor: pointer;
   padding-left: 3px;
   font-size: 1.08em;
}

.currentProject {
    border: 1px solid green;
}

/*Hovering over project name shows the remove button which is otherwise hidden*/
.project:hover + .removeProject {
    display: inline;
}


.removeProject {
    background-color: white;
    border: 0;
    width: 30px;
    cursor: pointer;
    display: none;
    
}

/* To do stuff*/
.content {
   display: flex;
   flex-direction: column;
   
   align-items: center;
   min-height: 100vh;
   margin-top: 10vh;
   margin-left: 13vw;

}

.toDoContainer {
    display: flex;
    flex-direction: column;
    gap: 400px;
    width: 60%;
    margin-top: 20vh;
    flex: 1;
}
.toDo {
    
    height:60px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/* Form stuff */
.form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50vw;
}

.backgroundFade {
    display: flex;
    justify-content:center;
    align-items: center;
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:rgba(0,0,0,0.6);
}

.formTop {
    display: flex;
    flex-grow: 1;
    gap:8px;
}

.title {
    flex:6;
}

.priority {
    flex: 1;
}

.dueDate {
    flex: 2;
}

.formBottom {
    display: flex;
    flex-direction: column;
    flex-grow: 12;
    gap:8px;
}

.description {
    flex: 6;
}


.submit {
    height: 20px;
    width: 100px;
    flex: 1;
    align-self: flex-end;
}

.addToDo {
    position: fixed;
    height: 60px;
    width: 60px;
    left:92vw;
    top:88vh;
    border-radius: 50%;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    color: white;
    font-size: 2.6em;
}